<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Proceso</h2>
                    <h3 class="section-subheading text-muted">Paso a paso como logramos llevarte al siguiente nivel.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Paso #1</h4>
                                    <h4 class="subheading">Descubrimiento</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Acercamiento con el cliente y conocimiento de los requerimientos del proyecto. Elaboración del brief creativo.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Paso #2</h4>
                                    <h4 class="subheading">Planeaci&oacute;n</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Análisis del proyecto a fondo. Junta del equipo creativo y lluvia de ideas.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Paso #3</h4>
                                    <h4 class="subheading">Dise&ntilde;o &amp; Ejecuci&oacute;n</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Paso #4</h4>
                                    <h4 class="subheading">Entrega</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Entrega de propuestas al cliente. Etapa de retroalimentación y revisiones.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Paso #5</h4>
                                    <h4 class="subheading">Seguimiento</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Una vez finalizado el proyecto se le da un seguimiento para monitoreo y detección de futuras necesidades</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Cliente<br/>Satisfecho!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
